<template>
	<section ref="collapse" class="elevation-2dp margin-0 padding-0 border-radius">
		<wiki-row
			class="border-radius"
			:link="topic.link"
			:title="topic.title"
			:createdBy="topic.createdBy"
			:expirationDays="topic.expirationDays"
			:headingLevel="topicHeadingLevel"
			@edit="$emit('edit', topic._id, 'topic')"
			@delete="$emit('delete', topic._id, 'topic')"
		>
			<b-button
				class="padding-0"
				:aria-expanded="open"
				link
				@clickOrEnter="toggleCollapseExpand"
				slot="collapse-icon"
			>
				<b-new-b-icon-keyboard-arrow-up v-if="open" class="font-size-xxbig ink-lighter-2" />
				<b-new-b-icon-keyboard-arrow-down v-else class="font-size-xxbig ink-lighter-2" />
			</b-button>
		</wiki-row>
		<div
			ref="content"
			:class="[
				{
					'overflow-hidden': !isOverflowVisible,
					'overflow-visible': isOverflowVisible,
					'border-top border-white-darker-4': open
				}
			]"
		>
			<ul
				ref="contentsList"
				v-if="open"
				:class="[
					{ 'display-block': !isDisplayNone, 'display-none': isDisplayNone },
					'margin-0 padding-0'
				]"
			>
				<li
					v-for="({ _id, link, title, expirationDays, createdBy }, index) in contents"
					:key="`${title}${index}`"
					class="list-style-none"
				>
					<wiki-row
						:class="[{ 'border-radius': index === contents.length - 1 }]"
						v-bind="{ link, title, expirationDays, createdBy }"
						:headingLevel="contentHeadingLevel"
						@edit="$emit('edit', _id, 'content', topic._id)"
						@delete="$emit('delete', _id, 'content', topic._id)"
						isACollapseRowContent
					/>
				</li>
			</ul>
		</div>
	</section>
</template>

<script>
import WikiRow from './WikiRow';
import {
	BButton,
	BNewBIconKeyboardArrowDown,
	BNewBIconKeyboardArrowUp
} from '@bossabox-code/design-system/';

export default {
	name: 'wiki-collapse',
	components: {
		WikiRow,
		BButton,
		BNewBIconKeyboardArrowDown,
		BNewBIconKeyboardArrowUp
	},
	props: {
		topicHeadingLevel: {
			type: String,
			default: 'h2',
			validator(value) {
				return /(h[1-6])/.test(value);
			}
		},
		topic: {
			type: Object,
			required: true
		},
		contentHeadingLevel: {
			type: String,
			default: 'h3',
			validator(value) {
				return /(h[1-6])/.test(value);
			}
		},
		contents: {
			type: Array,
			required: true
		},
		startsOpen: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			realHeight: 0,
			open: this.startsOpen,
			isAnimating: false,
			closeTimeout: null,
			isOverflowVisible: false,
			isDisplayNone: false
		};
	},
	methods: {
		collapse() {
			this.$refs.content.style.height = '0px';
			this.updateCollapseDataProperties();

			this.closeTimeout = setTimeout(() => {
				this.isAnimating = false;
				this.isDisplayNone = true;
			}, 250);
			this.$emit('collapse');
		},
		updateCollapseDataProperties() {
			this.open = false;
			this.isAnimating = true;
			this.isOverflowVisible = false;
		},
		expand() {
			if (this.closeTimeout) window.clearTimeout(this.closeTimeout);
			this.$refs.content.style.height = `${this.$refs.content.scrollHeight}px`;
			this.setExpandDataProperties();
			setTimeout(() => {
				this.isAnimating = false;
				this.isOverflowVisible = true;
			}, 250);
			this.$emit('expand');
		},
		setExpandDataProperties() {
			this.open = true;
			this.isAnimating = true;
			this.isOverflowVisible = false;
			this.isDisplayNone = false;
		},
		toggleCollapseExpand() {
			this.open ? this.collapse() : this.expand();
		},
		setContentHeight() {
			this.open
				? (this.$refs.content.style.height = `${this.$refs.content.scrollHeight}px`)
				: (this.$refs.content.style.height = '0px');
		}
	},
	mounted() {
		this.setContentHeight();
	},
	updated() {
		if (this.open) {
			const contentHeight = `${this.$refs.contentsList.scrollHeight}px`;
			if (contentHeight !== this.$refs.content.style.height) {
				this.$refs.content.style.height = contentHeight;
				if (!this.isAnimating) {
					this.setOverflowHidden();
					setTimeout(() => {
						this.setOverflowVisible();
					}, 250);
				}
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.display-none {
	display: none;
}
</style>
