<template>
	<div class="display-flex padding-lg-big padding-normal align-content-center attachment-row">
		<b-new-b-icon-attachment
			aria-hidden
			class="ink-lighter-3 attachment-icon display-flex align-content-center font-size-xxhuge margin-right-lg-big margin-right-normal"
		/>
		<div class="truncated margin-right-normal">
			<a
				class="bold blue-base font-size-big display-block font-style-none truncated"
				:href="attachment.fileUrl"
				target="_blank"
				@click="$emit('onTitleClick')"
				>{{ attachment.fileName }}</a
			>
			<p class="font-size-normal ink-lighter-1 line-height-xxbig margin-0 margin-top-xxtiny">
				{{ fileSizeInMbOrKb }}
			</p>
		</div>
		<div class="margin-left-auto display-flex">
			<b-button
				v-if="editable"
				class="cursor-pointer display-flex align-content-center"
				aria-label="Remover anexo"
				link
				@clickOrEnter="$emit('deleteAttachment')"
			>
				<b-new-b-icon-delete class="red-base font-size-huge" />
			</b-button>
			<a
				:href="attachment.fileUrl"
				target="_blank"
				title="Abrir anexo em nova aba"
				v-if="!editable"
				class="display-flex align-content-center margin-right-normal"
				@click="$emit('onNewTabButtonClick')"
			>
				<b-new-b-icon-open-in-new
					v-if="!editable"
					class="display-flex align-content-center ink-lighter-1 font-size-huge"
				/>
			</a>
			<a
				:href="attachment.fileUrl"
				v-if="!editable"
				class="display-flex align-content-center"
				alt="Fazer download do arquivo"
				@click.prevent="
					downloadAttachment(attachment.fileUrl, attachment.fileName);
					$emit('onDownloadButtonClick');
				"
			>
				<b-new-b-icon-download
					v-if="!downloading"
					class="cursor-pointer ink-lighter-1 font-size-huge display-flex align-content-center"
				/>
				<b-new-b-icon-refresh
					v-else
					class="cursor-pointer ink-lighter-1 font-size-huge display-flex align-content-center spin"
				/>
			</a>
		</div>
	</div>
</template>

<script>
import {
	BNewBIconAttachment,
	BNewBIconDelete,
	BNewBIconOpenInNew,
	BNewBIconDownload,
	BNewBIconRefresh,
	BButton,
} from '@bossabox-code/design-system';

export default {
	name: 'attachment-row',
	components: {
		BNewBIconAttachment,
		BNewBIconDelete,
		BNewBIconOpenInNew,
		BNewBIconDownload,
		BNewBIconRefresh,
		BButton,
	},
	props: {
		attachment: {
			type: Object,
			required: true,
		},
		editable: {
			type: Boolean,
			default: false,
		},
	},
	data() {
		return {
			downloading: false,
		};
	},
	computed: {
		fileSizeInMbOrKb(state) {
			if (state.attachment.fileSize > 1000000) {
				return `${(state.attachment.fileSize / 1000000).toFixed(2)} MB`;
			}
			return `${(state.attachment.fileSize / 1000).toFixed(2)} KB`;
		},
	},
	methods: {
		async downloadAttachment(fileUrl, fileName) {
			this.downloading = true;
			try {
				const response = await fetch(fileUrl);
				const blob = await response.blob();
				const url = await URL.createObjectURL(blob);

				const a = document.createElement('a');
				a.href = url;
				a.download = fileName;
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
			} catch (err) {
				console.log({ err });
			}
			this.downloading = false;
		},
	},
};
</script>

<style lang="scss" scoped>
.attachment-icon {
	transform: rotate(270deg);
}
:deep() i.spin {
	animation: spin 1s linear infinite;
}
:deep() i.display-flex {
	display: flex !important;
}
.truncated {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
</style>
