<template>
	<div
		class="bg-white-base padding-normal padding-md-big display-flex align-items-center bg-hover-white-darker-2 justify-content-between"
	>
		<div
			class="display-flex margin-tiny margin-md-0 overflow-hidden size-on-large-screens align-items-center"
		>
			<slot name="collapse-icon"></slot>

			<component
				:is="link ? 'router-link' : 'div'"
				:class="[
					{
						'no-decoration cursor-pointer active-ink-base display-block': !!link,
						'margin-left-topic-row': hasCollapseIcon,
						'margin-left-content-row': !hasCollapseIcon && isACollapseRowContent
					},
					'display-flex flex-column overflow-hidden justify-content-center'
				]"
				:to="link ? link : ''"
			>
				<component
					:is="headingLevel"
					:class="[
						{
							'font-size-normal': isACollapseRowContent,
							'font-size-xbig': !isACollapseRowContent,
						},
						'margin-0 ink-base text-ellipsis semi-bold',
					]"
				>
					{{ title }}
				</component>
				<p class="margin-0 ink-lighter-2 text-ellipsis display-xl-none" v-if="hasExpirationDays">
					Expira em {{ formatDays(expirationDays) }}
				</p>
			</component>
		</div>
		<div class="size-on-large-screens hide-on-small-screens" v-if="hasExpirationDays">
			<p class="margin-0 margin-bottom-xtiny ink-base text-ellipsis extra-bold">
				Expira em
			</p>
			<p class="margin-0 ink-lighter-2 text-ellipsis">
				{{ formatDays(expirationDays) }}
			</p>
		</div>
		<ul
			class="display-xl-flex align-items-xl-center padding-0 list-style-none font-size-huge hide-on-small-screens"
		>
			<li class="margin-right-big display-flex">
				<b-button class="padding-0" aria-label="editar" link @clickOrEnter="emitEditEvent">
					<b-new-b-icon-edit class="font-size-xxbig ink-lighter-2" />
				</b-button>
			</li>
			<li class="display-flex">
				<b-button class="padding-0" aria-label="deletar" link @clickOrEnter="emitDeleteEvent">
					<b-new-b-icon-delete class="font-size-xxbig ink-lighter-2" />
				</b-button>
			</li>
		</ul>
		<b-hovering-menu
			visible
			class="display-xl-none cursor-pointer"
			:options="[
				{
					text: 'Editar',
					color: 'ink-lighter-2',
					method: emitEditEvent,
					icon: 'icon-edit'
				},
				{
					text: 'Deletar',
					color: 'ink-lighter-2',
					method: emitDeleteEvent,
					icon: 'icon-delete'
				}
			]"
		/>
	</div>
</template>

<script>
import {
	BNewBIconEdit,
	BNewBIconDelete,
	BButton,
	BHoveringMenu
} from '@bossabox-code/design-system';
export default {
	name: 'wiki-row',
	components: {
		BNewBIconEdit,
		BNewBIconDelete,
		BButton,
		BHoveringMenu
	},
	props: {
		link: {
			type: String,
		},
		title: {
			type: String,
			required: true
		},
		createdBy: {
			type: String,
			required: true
		},
		headingLevel: {
			type: String,
			default: 'h2',
			validator(value) {
				return /(h[1-6])/.test(value);
			}
		},
		expirationDays: {
			type: Number,
		},
		isACollapseRowContent: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		hasCollapseIcon() {
			return this.$slots['collapse-icon'] && this.$slots['collapse-icon'].length;
		},
		hasExpirationDays(state) {
			return !!state.expirationDays;
		}
	},
	methods: {
		formatDays(days) {
			const daysText = days > 1 ? 'dias' : 'dia';
			return `${days} ${daysText}`;
		},
		emitEditEvent() {
			this.$emit('edit');
		},
		emitDeleteEvent() {
			this.$emit('delete');
		}
	}
};
</script>

<style lang="scss">
@import '@bossabox-code/design-system/css/_variables.scss';
.margin-left-topic-row {
	margin-left: 2.4rem;
}

@media (min-width: map-get($breakpoints, 'xl')) {
	.size-on-large-screens {
		flex-basis: 50%;
	}
}

.hide-on-small-screens {
	@media (max-width: map-get($breakpoints, 'xl')) {
		display: none;
	}
}

.margin-left-content-row {
	margin-left: 4.6rem;
	@media (max-width: map-get($breakpoints, 'xl')) {
		margin-left: 0;
	}
}
</style>
