<template>
	<div class="display-flex align-items-center">
		<div
			class="status display-flex position-relative align-items-center"
			@mouseover="showTooltip = true"
			@mouseleave="showTooltip = false"
		>
			<template v-for="n in statusAmount">
				<b-tooltip-status
					:title="title"
					:text="text"
					:color="color"
					:titleColor="titleColor"
					:titleBackground="titleBackground"
					v-if="activeIndex == n"
					:key="n"
				/>

				<div class="circle-status" v-else :key="n" />

				<div class="line-bar" v-if="n != statusAmount" :key="`${n}-linebar`" />
			</template>
		</div>
	</div>
</template>

<script>
import BTooltipStatus from './Tooltip.vue';

export default {
	name: 'bbox-status',
	components: {
		BTooltipStatus
	},
	props: {
		statusAmount: Number,
		title: String,
		text: String,
		activeIndex: Number,
		color: {
			type: String,
			default: 'ink' | 'green' | 'red' | 'blue'
		},
		textColor: {
			type: String,
			default: 'white-base'
		},
		/* Cor do texto do status */
		titleColor: {
			type: String,
			default: 'ink-base'
		},
		/* Cor de fundo do status */
		titleBackground: {
			type: String,
			default: 'ink-base'
		},
		/* Cor do card do tooltip */
		backgroundColor: {
			type: String,
			default: 'ink-lighter-1'
		}
	},
	data() {
		return {
			showTooltip: false
		};
	}
};
</script>
<style lang="scss" scoped>
.status {
	width: 18rem;
}

.circle-status {
	width: 1rem;
	height: 1rem;
	background-color: #a39faf;
	border-radius: 50%;
}

.line-bar {
	height: 2px;
	width: 20%;
	background-color: #e8e7eb;
}
</style>
