<template>
	<b-tooltip class="display-inline-block" :backgroundColor="backgroundColor" :position="'bottom'">
		<template slot="title">
			<span
				class="
					display-inline-block
					padding-horizontal-big padding-vertical-xtiny
					margin-top-tiny
					span-status
				"
				:class="[titleColor, titleBackground]"
				style="border-radius: 1.65rem"
				>{{ title }}
			</span>
			<p class="font-size-normal font-weight-normal" :class="textColor">
				{{ text }}
			</p>
		</template>

		<b-status-circle :color="color" class="margin-right-0" />
	</b-tooltip>
</template>

<script>
import BTooltip from '@bossabox-code/design-system/components/Tooltip.vue';
import BStatusCircle from '@bossabox-code/design-system/components/StatusCircle.vue';

export default {
	name: 'bbox-tooltip-status',
	components: {
		BStatusCircle,
		BTooltip
	},
	props: {
		/* Status do pagamento */
		title: String,
		/* Texto atrelado ao status */
		text: String,
		/* Cor da bolinha do status */
		color: {
			type: String,
			default: 'white-base'
		},
		/* Cor do texto */
		textColor: {
			type: String,
			default: 'white-base'
		},
		/* Cor do texto do status */
		titleColor: {
			type: String,
			default: 'ink-base'
		},
		/* Cor de fundo do status */
		titleBackground: {
			type: String,
			default: 'ink-base'
		},
		/* Cor do card do tooltip */
		backgroundColor: {
			type: String,
			default: 'ink-lighter-1'
		}
	}
};
</script>
<style lang="scss" scoped>
.span-status {
	padding: 8px 20px;
	border-radius: 16.5px;
	font-weight: normal;
}
</style>
